@page "{id:int?}"
@model RazorPagesSchedule.Pages.EventList.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Event</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Event.Description)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Event.Description)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Event.Event_StartTime)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Event.Event_StartTime)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Event.Event_EndTime)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Event.Event_EndTime)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Event.Occuring)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Event.Occuring)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Event.ID">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
